extends layout

block content
  
  .row
    .col-lg-6
      h1 HuddleHere
      small &nbsp;Make Group Projects Easy!
  hr
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Format: #{meeting.format}
        .panel-body
          p Facilitator: #{meeting.leader}
          p Recorder: #{meeting.members[0]}
    .col-xs-12.col-sm-2
    .col-xs-12.col-sm-4.location-map
      .panel.panel-primary
        .panel-heading
          h2.panel-title Map:
        .panel-body
          img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{meeting.location[0]},#{meeting.location[1]}&zoom=17&size=350x350&sensor=false&markers=#{meeting.location[0]},#{meeting.location[1]}&scale=2')
    .col-xs-12.col-sm-8
      .panel.panel-primary
        .panel-heading
          h2.panel-title Objectives:
        .panel-body
          .col-xs-12.list-group-item
            h4 1. Agenda Content goes here
            a.btn.btn-inverse Edit
          .col-xs-12.list-group-item
            h4 2. Agenda Content goes here
            a.btn.btn-inverse Edit
          .col-xs-12.list-group-item
            h4 3. Agenda Content goes here
            a.btn.btn-inverse Edit 
    .col-xs.col-sm-4
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Location:
          .panel-body
            p 220 Pawtucket St
            p Lowell, MA 01854 
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Time:
          .panel-body
            p Start:&nbsp;
              span#leadStartTime 2:00 PM
            p End:&nbsp;
              span#leadEndTime 3:00 PM
      .row
        .panel.panel-primary
          .panel-heading
            h2.panel-title Team Status:
          .panel-body
            each member in meeting.members
              p= member.split(';')[0] + ': '
                span.memberStatus= member.split(';')[1]
