extends layout

block content
  script(type='text/javascript').
    var objMeeting = !{JSON.stringify(meeting)}
  .row.page-header: .col-lg-12
    h1 HuddleHere
     br
     small Make Group Projects Easy!    
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Time and Availability
        .panel-body
          h4 I am:
          .dropdown
            select(name='memberPicker' id='memberPicker')
              option(value='defaultOp' selected) Choose...
              each member in meeting.members
                option(value="#{member.split(';')[0]}")= member.split(';')[0]
          h4 Start Time
          p
            span#meetingStart
          h4 End Time
          p
            span#meetingEnd
          br
          h4 Availability
          input(type="radio", name="myStatus" class="statusRadio" value="Available" id="statAvailable" checked)
          | Available
          br
          input(type="radio", name="myStatus" class="statusRadio" value="Unavailable")
          | Unavailable
          br
          input(type='button', id="submitForm", value="Submit")
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Calendar
        .panel-body
          img.img-responsive.img-rounded(src="https://lh3.ggpht.com/gzZkfyffoLVRMq1dxZ_xBsaAyWiuoKkCBF27Njv4vX_7TWMuv2HZhtgACZeCfmR223k=w300")
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location
        .panel-body
          h4#streetAddress
          p
          h4#cityState
    .col-xs-12.col-sm-6.location-map
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location map
        .panel-body
          img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=#{meeting.location[0]},#{meeting.location[1]}&zoom=17&size=350x350&sensor=false&markers=#{meeting.location[0]},#{meeting.location[1]}&scale=2")
  .row
    .col-xs-12
      .panel.panel-primary.agenda-panel
        .panel-heading
          a.btn.btn-default.pull-right Suggest an item
          h2.panel-title Meeting Agenda
        .panel-body.agenda-container
          .col-xs-12.list-group-item  
            each item in meeting.agenda
              .panel.panel-default
                .panel-heading
                  h2.panel-title= item.title
                .panel-body
                  em= item.description
                a.btn.btn-default Add Comment
  //- script(src='/public/javascripts/memberPost.js')
  script(src='/javascripts/geo.js')
  script(src='/javascripts/coachTimes.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-vUxYe3poWbJS5fqIDwRf2c0CNk4kXwo&callback=geoInitialize')
  script(src='/javascripts/memberPost.js')