extends layout

block content
  script(type='text/javascript').
    var objMeeting = !{JSON.stringify(meeting)}
  #banner.page-header
    .row
      .col-lg-8
       .col-lg-2
        <i id="icon" class="fa fa-group" style="text-shadow: rgb(0, 105, 95) 0px 0px 0px, rgb(0, 111, 101) 1px 1px 0px, rgb(0, 118, 107) 2px 2px 0px, rgb(0, 124, 113) 3px 3px 0px, rgb(0, 131, 119) 4px 4px 0px, rgb(0, 137, 124) 5px 5px 0px, rgb(0, 144, 130) 6px 6px 0px; font-size: 80px; color: rgb(255, 255, 255); height: 115px; width: 115px; line-height: 115px; border-radius:50% ; text-align: center; background-color: rgb(0, 150, 136);"></i> 
       .col-md-5
        div(class = "headWrapper" style = "margin-top: 25px; margin-left: 5px;")
         h1(style = "color: #009688;") HuddleHere
          br
         small Make Group Projects Easy!
  hr(style="background-color: #BDBDBD;")    
  .row
    .col-xs-12.col-sm-6
      .panel.panel-primary
        .panel-heading
          h2.panel-title Time and Availability
        .panel-body
          form( name='memberForm', id='memberForm', action="")
           fieldset
            div(class = "form-group")
             label(for = "memberPicker" class = "col-md-2 control-label") Name
             div(class = "col-md-10")
              select(class = "form-control" name='memberPicker', id='memberPicker')
                option(value='defaultOp' selected) Choose your name
                each member in meeting.members
                  option(value="#{member.split(';')[0]}")= member.split(';')[0]
              span(class="help-block") 
            br
            br
            div(class = "form-group")
             div(class = "col-md-3")
              h5 Start Time:
             div(class = "col-md-9")
              h5(id = "meetingStart")
            br
            div(class = "form-group")
             div(class = "col-md-3")
              h5 End Time:
             div(class = "col-md-9")
              h5(id = "meetingEnd")
            br
            div(class = "form-group")
             label( class = "col-md-2 control-label") Availability
             div(class = "col-md-10")
              div(class = "radio radio-primary")
               label
                input(type="radio" name="myStatus" class="statusRadio" value="Available" id="statAvailable" checked)
                | Available
              div(class = "radio radio-primary")
               label
                input(type="radio" name="myStatus" class="statusRadio" value="Unavailable")
                | Unavailable
            a(id = "submitForm" class = "btn btn-raised btn-primary" style = "float:right;" ) Submit  
    .col-xs-12.col-sm-4
      .panel.panel-primary
        .panel-heading
          h2.panel-title Location
        .panel-body
          img.img-responsive.img-rounded(src='http://maps.googleapis.com/maps/api/staticmap?center=#{meeting.location[0]},#{meeting.location[1]}&zoom=17&size=350x350&sensor=false&markers=#{meeting.location[0]},#{meeting.location[1]}&scale=2')
          br
          h4#streetAddress
          p
          h4#cityState
  .row
    .col-xs-12
      .panel.panel-primary.agenda-panel
        .panel-heading
          h2.panel-title Meeting Agenda
        .panel-body.agenda-container  
            each item in meeting.agenda
              .panel.panel-default
                .panel-heading
                  h2.panel-title= item.title
                .panel-body(id = "panel_body" + item._id)
                  em= item.description
               form(class = "form-horizontal" id = "commentForm")
                div(class = "form-group")
                 label(for = "commentNamePicker" class = "col-md-1 control-label") Name
                 div(class = "col-md-11")
                  div(class = "col-md-5")
                   select(class = "form-control" name='commentNamePicker', id='commentName' + item._id)
                    option(value='defaultOp' selected) Choose your name
                    each member in meeting.members
                      option(value="#{member.split(';')[0]}")= member.split(';')[0]
                   span(class="help-block")
                  div(class = "col-md-6") 
                div(class = "form-group")
                 label(for = "commentText" + item._id class = "col-md-1 control-label") Comment
                 div(class = "col-md-11")
                  div(class = "col-md-5")
                   textarea(class="form-control" rows="4" id= "commentText" + item._id placeholder = "Enter your comment here")
                   span(class="help-block")
                  div(class = "col-md-6")
                div(class = "col-md-12")
                 div(class = "col-md-1")
                 div(class = "col-md-11")
                  div(class = "col-md-5")
                   a(id=item._id class = "btn btn-raised btn-primary" style = "float:right;" onclick="submitComment(this.id);") Comment
  //- script(src='/public/javascripts/memberPost.js')
  script(src='/javascripts/geo.js')
  script(src='/javascripts/coachTimes.js')
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC-vUxYe3poWbJS5fqIDwRf2c0CNk4kXwo&callback=geoInitialize')
  script(src='/javascripts/memberPost.js')
  script(src='/javascripts/memberComment.js')